.imgContainer {
  padding: 60px 0;

  .grid {
    display: grid;
    gap: 30px;
    max-height: 100%;
    align-self: center;
    overflow: hidden;
    justify-items: center;

    img {
      max-height: 100%;
    }
  }

  .grid-4 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;

    img {
      height: 200px;
      width: 220px;
    }
  }
}
